<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>

    <body>
        <header class="main-header">
            <nav class="main-header-nav">
                <ul class="main-header-item-list">
                    <li class="main-header-item"><a href="/" class="active">Home</a></li>
                    <li class="main-header-item"><a href="/funny-name">Share Funny Dog Names</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Welcome to Bone Thugs N Armoury</h1>
            <p>Love funny dog names? Share your favorite names and spread the laughter!</p>
            <img src="https://i.imgur.com/AZBq5CZ.jpg" alt="random image">
        </main>
    </body>
</html>